
body{
    background-color: rgb(159, 133, 101);
}

.carousel-inner img {
    max-width: 70%;
    margin: auto;
}

.card{
    background-color: rgb(126, 117, 117);
    border-radius: 0,5rem;
}
.buttonbuy{
    border: none;
    background-color: rgb(236, 226, 226);
    padding: 0.4% 1rem;
    border-radius: 0.5rem
}
